body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #eee;
}

.page-container {
  padding: 12px;
}

.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  border: 1px solid cyan;
  width: 360px;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 40px;
  margin-right: 28px;
}

.card ._created {
  font-style: italic;
}

.card ._content {
  padding-top: 16px;
}
